body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
	/* background: #f2f2f2; */

}
a{
    text-decoration: none;
    color: black;
}
ul,ol{
	list-style: none;
}
img iframe{
	border: 0 none;
}

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    clear: both;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #ccc; 
}
.header{
    width: 1400px;
    max-width: 100%;
    height: 70px;
    margin: 0 auto;
    background: #fff;
    padding: 0 20px;
}
.logo {
    float: left;
    height: 70px;
    line-height: 70px;
}
.logo img {
    width: 58px;
    vertical-align: middle;
}
.nav{
    float: left;
    margin-left: 15px;
}
.nav .item{
    position: relative;
}
.nav #item{
    position: relative;
}
.nav #item-a #dis-a{
    position: absolute;
    left: -200px;
}
.nav #item-b #dis-b{
    position: absolute;
    left: -290px;
}
.nav .dis{
    display: none;   
    width: 1325px;
    height: 200px;
    position: absolute;
    top: 60px;
    left: -100px;
    right: 0;
    bottom: 5px;
    padding-left: 100px;
}
.nav .dis li{
    margin-left: 6px;
    font-weight: 600;
    font-size: 15px;
}

.nav ul{
    height: 70px;
    background: #fff;
}
.nav ul li{
    float: left;
    padding: 0 10px;
    line-height: 70px;
}

.nav ul li a{
    font-size: 16px;
    padding: 0 5px;
    
}
.h_right{
    width: 446px;
    float: right;
    margin-top: 22px;
    margin-right: 15px;
    overflow: hidden;
}
.r_right{
    float: right;
}
.r_right ul li{
    float: left;
    line-height: 70px;
    margin: 0 15px;
    line-height: .7rem;
    margin: 0 1.5rem;
    vertical-align: middle;
}
.r_right ul li a img{
    vertical-align: middle;
}
.r_right ul li span{
    vertical-align: middle;
    font-size: 15px;
}
.h_right .r_con{
   float: right;
}
.r_con .r_conn input{
    width: 148px;
    height: 26px;
    border: 1px solid black;
}
.r_conn span{
    background: url(../img/icons.png) no-repeat 3px 5px;
    width: 30px;
    height: 27px;
    display: block;
    position: absolute;
    right: 166px;
    top: 22px;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.r_left{
    float: right;
    width: 113px;
    
}
.r_left .l_left{
    float: left;
    width: 113px;
}
.r_left ul{
    float: left;
    width: 113px;
    
}
.l_left li {
    float: left;
    cursor: pointer;
    margin: 5px  14px;
}
.h_left ul li{
    
    float: left;
}
/* -------------------------------- */


.con{
    margin-bottom: 80px;
    margin-top: 70px;
}
.con .atc .bg-pic {
    background-position: top;
    position: relative;
}
.atc .bg-pic >a {
    height: 100%;
    display: block;
}
.atc .bg-pic img {
    margin: 0 auto;
    display: block;
}
.con .middles {
    width: 1012px;
    margin: 0 auto;
}
.con .middles .post1{
    margin: 30px 0;
}
.con .middles .post1 .bg-pic{
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover
}
.con .middles .bg-pic .item{
    float: left;
    overflow: hidden;
}

.maxTitle {
    height: 5rem;
    background: #fff;
    margin: 0;
    padding: 0;
}
.maxTitle h2 {
    border-bottom: 1px solid #1f2020;
    text-align: center;
    height: 2.5rem;
    line-height: 4.7rem;
}
.maxTitle span {
    font-size: 1.2rem;
    background: white;
    z-index: 666;
    padding: 0 10px;
}

/* ----------插件---------- */
.picScroll{ margin:10px auto;  position:relative;  border:1px solid #eee; width:762px;  padding:10px 0 10px 30px; background:#fff; overflow:hidden;     }
	.picScroll .prev,
	.picScroll .next{ display:block; position:absolute; top:86px; left:5px; width:23px; height:23px; background:url(../img/btns.png) no-repeat;   }
	.picScroll .next{ left:auto; right:5px; background-position:-25px 0; }
	.picScroll .prev:hover{ background-position:0 -30px; }
	.picScroll .next:hover{ background-position:-25px -30px; }
	.picScroll ul{ overflow:hidden; zoom:1; }
	.picScroll ul li{ width:150px; float:left; overflow:hidden; padding:0 10px;     }
	.picScroll ul li img{ width:150px; height:170px; display:block; background:url(../img/loading.gif) center center no-repeat; }

/* ------------------底部---------------- */

.footer {
    width: 100%;
    background: black;
    color: white;
    clear: both;
    margin-top: 100px;
    padding: 0 15px;
}
.footer .maxfoot {
    overflow: hidden;
    width: 1210px;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 100%;
}
.footer .maxfoot .foot-l {
    float: left;
    width: 250px;
}
.foot-l .keys, .foot-l .shopWidgets_box {
    float: left;
    width: 125px;
}
.foot-l h3 {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}
.foot-l ul li a, .foot-l ul li span {
    font-size: 14px;
    color: #bbbbbb;
    line-height: 26px;
}

.footer .maxfoot .foot-l.two {
    width: 276px;
}
.foot-l.two .keys {
    width: 138px;
}

.footer .maxfoot .foot-r {
    float: right;
}
.foot-r .AdvBanner {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
}
.theme-footer {
    text-align: center;
    line-height: 1.8;
    margin-top: 10px;
    font-size: 12px;
}